
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>MyProfile</h2>

<div>@Html.Action("CreatePostPartial", "Home")</div>
<ul>
    @foreach (BlogManagement.DAL.Entities.Post lst in ViewBag.lst)
    {
        <li style="list-style:none"><a href="/Post/Category/?id=@lst.PostId">@lst.Title</a></li>
    }
</ul>