
<ul class="menu-left">
    @if (Request.QueryString["accountId"] == null)
    {
    <li style="list-style:none">@Html.ActionLink("Tất cả chủ đề", "ShowPost", "Home")</li>
    }
    else
    {
    <li style="list-style:none">@Html.ActionLink("Tất cả chủ đề", "ShowPost", "Home", new { accountId = Request.QueryString["accountId"] }, null)</li>
    }
    @foreach (BlogManagement.DAL.Entities.Category lst in ViewBag.lstCategory)
    {
        if (Request.QueryString["accountId"] == null)
        {
            <li style="list-style:none">@Html.ActionLink(lst.Name, "ShowPost", "Home", new { categoryId = lst.CategoryId }, null)</li>
        }
        else
        {
            <li style="list-style:none">@Html.ActionLink(lst.Name, "ShowPost", "Home", new { accountId = Request.QueryString["accountId"], categoryId = lst.CategoryId }, null)</li>
        }

    }

</ul>
<style>
    .menu-left li :hover {
        text-decoration: none;
        background-color: cornflowerblue;
    }

    .menu-left li {
        margin: 0 auto;
        height: 50px;
        color: deepskyblue;
    }

        .menu-left li:hover a {
            color: white;
            font-weight: bold;
        }

    .menu-left li > a {
        font-size:16px;
        padding:11px;
        height: 50px;
        display: block;
    }
    .menu-left {
        padding: 0;
        position:absolute;
    }
</style>