<nav class="navbar navbar-inverse navbar-custom ">
    <div class="container">
        <div class="navbar-header text-a">
            <a class="navbar-brand" href="/Home/ShowPost">Fakebook</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/Home/ShowPost">Trang chủ</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="/Home/ShowPost?accountId=@ViewBag.accountId">Trang cá nhân</a></li>
                }
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </div>
</nav>